/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  color: #333;
}

/* Web Fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

/* Home Page */
.home ul {
  display: flex;
  height: 33.33vh;
}

.home ul li {
  display: block;
  width: 12.5%;
  position: relative;
  
}

.home ul li.app-branding {
  width: 50%;
  text-align: center;
}

.home ul li.app-branding img {
  -webkit-filter: none;
  filter: none;
  max-height: 25vh;
  margin-top: 2%;
}


.home ul li img {
  max-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.home ul li img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);  
}

/* Stats Page */
.stats nav {
  width: 15%;
  height: 150vh;
  float: left;
  text-align: center;
}

.stats ul {
  height: 90vh;
  margin-top: 10vh;
  position: fixed;
  text-align: center;
  width: 15%;
  line-height: 32px;
}

.stats .selected {
  color: tomato;
}

.stats .widget-container {
  display: flex;
}
.stats .widget {
  border: 1px solid #f1f1f1;
  padding: 5px;
  width: 50%;
  height: 50vh;
  text-align: center;
  line-height: 50vh;
}

