<h1>Team History</h1>
<h2>Pick a Team</h2>
<ul>
  <li><a ui-sref="stats({team: 'ARS'})">Arsenal</a></li>
  <li><a ui-sref="stats({team: 'ASV'})">Aston Villa</a></li>
  <li><a ui-sref="stats({team: 'BOU'})">Bournemouth</a></li>
  <li><a ui-sref="stats({team: 'CHE'})">Chelsea</a></li>
  <li><a ui-sref="stats({team: 'CRP'})">Crystal Palace</a></li>
  <li><a ui-sref="stats({team: 'EVT'})">Everton</a></li>
  <li><a ui-sref="stats({team: 'LEI'})">Leicester City</a></li>
  <li><a ui-sref="stats({team: 'LIV'})">Liverpool</a></li>
  <li><a ui-sref="stats({team: 'MAC'})">Manchester City</a></li>
  <li><a ui-sref="stats({team: 'MAN'})">Manchester United</a></li>
  <li><a ui-sref="stats({team: 'NEW'})">Newcastle United</a></li>
  <li><a ui-sref="stats({team: 'NOR'})">Norwich City</a></li>
  <li><a ui-sref="stats({team: 'SOU'})">Southampton</a></li>
  <li><a ui-sref="stats({team: 'STK'})">Stoke City</a></li>
  <li><a ui-sref="stats({team: 'SUN'})">Sunderland</a></li>
  <li><a ui-sref="stats({team: 'SWA'})">Swansea City</a></li>
  <li><a ui-sref="stats({team: 'THS'})">Tottenham Hotspur</a></li>
  <li><a ui-sref="stats({team: 'WAT'})">Watford</a></li>
  <li><a ui-sref="stats({team: 'WBA'})">West Bromwich Albion</a></li>
  <li><a ui-sref="stats({team: 'WHU'})">West Ham United</a></li>
</ul>

