<div class="home">
  <h1>English Premier League Team History</h1>
  
  <div class="team-list">
    <h2>Pick a Team</h2>
    <ul>
      <li><a ui-sref="stats" ng-click="">Arsenal</a></li>
      <li><a ui-sref="stats" ng-click="">Aston Villa</a></li>
      <li><a ui-sref="stats" ng-click="">Bournemouth</a></li>
      <li><a ui-sref="stats" ng-click="">Chelsea</a></li>
      <li><a ui-sref="stats" ng-click="">Crystal Palace</a></li>
    </ul>
    <ul>
      <li><a ui-sref="stats" ng-click="">Everton</a></li>
      <li><a ui-sref="stats" ng-click="">Leicester City</a></li>
      <li><a ui-sref="stats" ng-click="">Liverpool</a></li>
      <li><a ui-sref="stats" ng-click="">Manchester City</a></li>
      <li><a ui-sref="stats" ng-click="">Manchester United</a></li>
    </ul>
    <ul>  
      <li><a ui-sref="stats" ng-click="">Newcastle United</a></li>
      <li><a ui-sref="stats" ng-click="">Norwich City</a></li>
      <li><a ui-sref="stats" ng-click="">Southampton</a></li>
      <li><a ui-sref="stats" ng-click="">Stoke City</a></li>
      <li><a ui-sref="stats" ng-click="">Sunderland</a></li>
    </ul>
    <ul>  
      <li><a ui-sref="stats" ng-click="">Swansea City</a></li>
      <li><a ui-sref="stats" ng-click="">Tottenham Hotspur</a></li>
      <li><a ui-sref="stats" ng-click="">Watford</a></li>
      <li><a ui-sref="stats" ng-click="">West Bromwich Albion</a></li>
      <li><a ui-sref="stats" ng-click="">West Ham United</a></li>
    </ul>
  </div>
</div>
