<div class="home">
  <h1>English Premier League Team History</h1>
  
  <div class="team-list">
    <h2>Pick a Team</h2>
    <ul>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('ARS')">Arsenal</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('ASV')">Aston Villa</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('BOU')">Bournemouth</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('CHE')">Chelsea</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('CPA')">Crystal Palace</a></li>
    </ul>
    <ul>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('EVT')">Everton</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('LEI')">Leicester City</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('LIV')">Liverpool</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('MCY')">Manchester City</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('MUN')">Manchester United</a></li>
    </ul>
    <ul>  
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('NEW')">Newcastle United</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('NOC')">Norwich City</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('SOU')">Southampton</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('STK')">Stoke City</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('SUN')">Sunderland</a></li>
    </ul>
    <ul>  
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('SWA')">Swansea City</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('TOT')">Tottenham Hotspur</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('WAT')">Watford</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('WBA')">West Bromwich Albion</a></li>
      <li><a ui-sref="stats" ng-click="pickTeamCtrl.selectTeam('WHU')">West Ham United</a></li>
    </ul>
  </div>
</div>
